#clustrmaps-container {
  z-index: 1000;
  background: transparent;
  display: block;
  
  @media screen and (max-width: 768px) {
    top: 450px;
    width: 250px !important;
  }
}

// 为了确保地图显示在正确的位置
.universal-wrapper {
  position: relative;
}